<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <A href="https://www.buscabiografias.com/biografia/verDetalle/10801/Tim%20Berners-Lee"><img src="img/berners-lee.jpg" width="350px"></A>
    <h1>Tim Berners-Lee</h1>
    <h2>"La Web ha perdido el rumbo: hay muchas cosas que han ido mal"</h2>
    <p>Tim Berners-Lee nació el 8 de junio de 1955, en Londres, Reino Unido.</p>
    <h2>Padres</h2>
    <p>Fue uno de los cuatro hijos de los matemáticos Conway Berners-Lee y Mary Lee Woods, que trabajaron en la primera computadora electrónica comercializada, la Ferranti Mark 1</p>
    <h2>Estudios</h2>
    <p>Graduado en física en el Queen's College de la Universidad de Oxford en 1976, cuando tenía 21 años. Estando en la universidad, fabricó una computadora con un viejo televisor comprado en un taller de reparación.
    En 1978, ingresó en D.G. Nash Limited donde desarrolló un sistema operativo. En1980 entró en el CERN (Organización Europea para la Investigación Nuclear) donde presentó un proyecto basado en el hipertexto para compartir información más fácilmente entre investigadores. Elaboró por entonces ENQUIRE, un programa que no llegó a lanzarse.</p>
    <h2>World Wide Web</h2>
    <p>El CERN era el nodo de Internet más importante de Europa y donde Berners-Lee consiguió unir Internet e hipertexto (HTTP y HTML), creándose así la World Wide Web el 12 de marzo de 1989, implementando la primera comunicación exitosa entre cliente y servidor de Protocolo de Transferencia de Hipertexto (HTTP) a través de Internet a mediados de noviembre de ese mismo año, aunque por entonces no tuvo repercusión. No fue hasta en 1990, y con una revisión realizada con Robert Cailliau, cuando fue aceptada por su gerente, Mike Sendall.</p>
    <h2>Primer navegador</h2>
    <p>Usando planteamientos parecidos a los que había usado en el sistema ENQUIRE, para crear la World Wide Web, diseñó el primer navegador, al que llamó WorldWideWeb, siendo desarrollado con NEXTSTEP, junto al primer servidor Web al que llamó httpd (HyperText Transfer Protocol daemon).</p>
    <h2>Profesor</h2>
    <p>Profesor de Ciencias de la Computación en la Universidad de Oxford y en el Instituto de Tecnología de Massachusetts (MIT). 
        Director del World Wide Web Consortium (W3C), supervisor de la Web. Fundador de la World Wide Web Foundation; investigador principal y titular de la cátedra de fundadores de 3Com en el Laboratorio de Ciencias de la Computación e Inteligencia Artificial (CSAIL) del MIT; director de la Web Science Research Initiative (WSRI); miembro del consejo asesor del MIT Center for Collective Intelligence.Fundador y presidente del Open Data Institute.</p>
    <h2>Premios y reconocimientos</h2>
    <p>En 1997, fue hecho oficial de la Orden del Imperio Británico. Miembro de la Royal Society desde 2001.

        Recibió el Premio Príncipe de Asturias, compartido con Lawrence Roberts, Robert Kahn y Vinton Cerf en la categoría de investigación científica y técnica en 2002.
        
        El 16 de julio de 2004, la reina Isabel II le concedió por su trabajo pionero el rango Knight Commander, la Orden más sobresaliente del Imperio Británico. En abril de 2009, fue elegido asociado extranjero de la Academia Nacional de Ciencias de los Estados Unidos.
        
        Desde 2011, pertenece al consejo de administración de la Fundación Ford. En 2012 se le hizo miembro del Salón de la Fama de Internet por la Internet Society.
        
        Apareció en la lista de la revista Time de las 100 personas más importantes del siglo XX.
        Recibió el Premio Turing 2016 por inventar la World Wide Web, el primer navegador web y los protocolos y algoritmos fundamentales que permiten escalar la Web.</p>
        <h2>Matrimonios e hijos</h2>
    <p>Entre 1990 y 2011 estuvo casado con Nancy Carlson, programadora informática estadounidense. En 2014 contrajo matrimonio con Rosemary Leith. Es padre de Alice y Ben.</p>
        <a href="/">Volver</a>
    </body>
</html>