<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href="https://www.mujeresnotables.com/2018/05/11/biografia-de-margaret-hamilton-informatica-americana/"><img src="img/hamilton.jpg" width="350px"></a>
    <h1>Margaret Hamilton</h1>

    <h2>Ingeniera de computación</h2>
    <p>Esta brillante matemática, ingeniera de sistemas y científica computacional, fue Directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT.
        Un siglo antes, tuvo una digna antecesora británica, llamada Ada Lovelace.

        En este famoso laboratorio del MIT, su equipo desarrolló el software de navegación para el Programa Espacial Apolo.
        
        Entre 1969 y 1972, el programa Apolo realizó 22 misiones: 19 con éxito total, 2 con éxito parcial y 1 con fracaso.
        Entre ellas, hubo 6 en las que el hombre pisó el suelo de la Luna.</p>
        <h2>Infancia y estudios</h2>
        <p>Nació el 17 de agosto de 1936. En 1954, se graduó en la Escuela Preparatoria Thomas Hancock, en Minnesota.

            Cuatro años más tarde, obtuvo el Bachelor of Arts de Matemáticas, en la Universidad Earlham College, de Richmond, Indiana (USA).</p>
        <h2>Matrimonio y familia</h2>
        <p>Cuando estudiaba en el Earlham College, conoció a James Hamilton. Se casaron a finales de los 50, después de que ella se licenciara en Matemáticas. Tienen una hija llamada Lauren.</p>
        <h2>Desarrolladora de software</h2>
        <p>Con la intención de cursar estudios de postgrado, Margaret se trasladó a Massachusetts.

            Sin embargo, una vez ahí, prefirió aceptar trabajo en el MIT (Instituto Tecnológico de Massachusetts), como desarrolladora de software.
            
            En esos años, no existían lenguajes de programación como a finales del siglo XX.
            Todo se hacía en base a códigos, de tal manera que éstos no ocuparan demasiado espacio en las reducidas memorias de los computadores, que NO eran de silicio, sino que se alojaban en núcleos de hierro.</p>
        <h2>El MIT la contrató</h2>
        <p>De 1961 a 1963, trabajó en el MIT en un proyecto de seguimiento de trayectorias de aeronaves desconocidas.

            También escribió un programa para el Laboratorio de Investigación Cambridge, de la Fuerza Aérea.
            Para este Laboratorio, desarrolló códigos de nuevas rutinas de programación.
            
            El contenido de los programas se imprimía en «papel continuo» y se guardaban en carpetas voluminosas. El significado de esos códigos casi misteriosos, estaba al alcance de muy pocos.
            
            En el MIT, Margaret Hamilton formaba parte del personal del Laboratorio Draper, fundado en 1932 por el Dr. Charles Stark Draper.</p>
        <h2>Responsable del software de las naves Apolo</h2>
        <p>En 1965, Margaret fue nombrada responsable del desarrollo del software de vuelo de las computadoras que irían a bordo de las naves Apolo.

            Posteriormente dirigió y supervisó los desarrollos de la misión de la estación espacial Skylab.​
            Margaret Hamilton no tuvo problemas para conciliar su carrera en la NASA con sus funciones de madre.

            Durante los fines de semana llevaba a su hija Lauren al laboratorio para que pasara el tiempo con ella, mientras trabajaba escribiendo las rutinas de computación que irían en la computadora del módulo de comando del Apolo.
            
            Idear, escribir, probar y comprobar estas rutinas, fue algo bastante meritorio. Además de requerir un conocimiento profundo de los computadores, no fue nada fácil escribir algo más de 400.000 líneas de código que iban insertadas en el sistema operativo del módulo lunar en las misiones Apolo.
            Ella sabía “todo” de estos vitales programas.</p>
            <h2>En el alunizaje</h2>
            <p>Este sistema jugó un papel crucial momentos antes del alunizaje de la Apolo 11, el 20 de julio de 1969.

                Cuando Neil Armstrong ya se estaba preparando para hacer descender la nave, la computadora empezó a mostrar dos errores: error 1201 y error 1202.
                
                Lo que siguió a continuación fueron breves mensajes desde la Apolo 11 a Robledo de Chabela en España; y desde España a Houston, en donde estaba Margaret; desde Houston a Robledo; y desde Robledo a la Apolo 11.
                
                Armstrong no tenía tiempo para largas explicaciones. En unos pocos segundos tenía que decidir si debía alunizar a pesar del riesgo o  abortar el alunizaje y regresar con la miel en los labios.
                
                ¡Houston! ¡¡¡¿Qué hago?!!! La solución llegó de una joven Margaret que le aseguró al Director de la Misión que, con total seguridad, podía ignorar los dos mensajes de error.
                El veredicto del Director le llegó por radio a Neil: “GO”, “adelante, vía libre”. Poco después, Neil Armstrong transmitió por radio a Houston el mensaje esperado: “The Eagle has landed”, “el Águila ha aterrizado”. El hombre había llegado a la Luna. Era el 20 de julio de 1969.
            Sin exagerar, se podría decir que los héroes de la llegada a la Luna fueron cuatro: Neil Armstrong, Buzz Aldrin, Michael Collins y Margaret Hamilton.</p>
            <h2>Años posteriores</h2>
            <p>En 1986, Margaret fundó la empresa “Hamilton Technologies”, en Cambridge, Massachusetts. La compañía se desarrolló alrededor del Lenguaje Universal de Sistemas de diseño de software.
                Cuando ya tenía 80 años, el 22 de noviembre de 2016, Margaret Hamilton recibió la Medalla Presidencial de la Libertad, entregada por el Presidente de Estados Unidos, Barack Obama, por su trabajo en la NASA durante las misiones Apolo.
            </p>
            <a href="/">Volver</a>
        </body>
</html>