<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <a href="https://www.mujeresenlahistoria.com/2020/02/la-matematica-que-acerco-la.html"><img src="img/hooper.jpg" width="350px"></a>
    <h1>Grace Murray Hopper</h1>
    <h2>LA MATEMÁTICA QUE ACERCÓ LA PROGRAMACIÓN AL MUNDO</h2>
    <p>Sus allegados la conocían como Amazing Grace, un bonito apodo que nos da una idea del carácter de esta mujer extraordinaria que no desaprovechó ni un minuto de su existencia. Hizo una carrera brillante en el ejército de los Estados Unidos alcanzando rangos que ninguna otra mujer había conseguido nunca y se sumergió en el apasionante mundo de la informática revolucionando sus cimientos. Ambos, el militar y el informático, mundos tradicionalmente masculinos y también misóginos, que Grace supo conquistar con su talento y su incansable esfuerzo.

        Grace Murray Hopper nació en la ciudad de Nueva York el 9 de diciembre de 1906. Su padre era corredor de seguros, su madre, imaginamos que fue ama de casa. Grace pronto se fijó en la carrera que habían desarrollado sus dos abuelos, uno, Alexander Russell, había llegado a almirante de la Armada estadounidense; el otro, John Van Horne, era ingeniero civil. Y como si quisiera honrar a ambos, la pequeña Grace terminaría convirtiéndose en una mezcla de ambos.</p>
    <h2>Tuvo un papel determinante en el desarrollo de lenguajes de programación fáciles de utilizar por personas que no fueran matemáticas. </h2>
    <p>Ya desde pequeña tenía el curioso entretenimiento de destripar todo reloj que encontraba por casa para intentar descubrir su funcionamiento. Sus padres no mermaron sus ansias de saber y la apoyaron en todo momento. Después de estudiar en varias escuelas femeninas, Grace ingresó en la prestigiosa universidad neoyorquina para mujeres, el Vassar College. Tenía entonces dieciocho años y por delante una brillante carrera como científica y matemática. Cuatro años después se graduaba con honores y conseguía una beca para estudiar matemáticas en Yale.

        En 1930 se casaba con un doctor en literatura inglesa, Vincent Foster Hopper, pero su matrimonio duró apenas quince años y nunca tuvieron hijos. Grace continuó centrándose en su vida profesional. A sus veinticuatro años había conseguido un puesto de asistente en Vassar y seguía estudiando.
        
        En 1943, cuando el mundo se hundía en la trágica Segunda Guerra Mundial, Grace ingresó en la escuela femenina de cadetes navales. Un año después se graduaba con el rango de teniente y se trasladaba a Harvard para unirse al equipo del comandante Howard Aiken que estaba trabajando en el desarrollo del Mark I, una computadora experimental.</p>
    <h2>Un destructor de la marina de los Estados Unidos fue bautizado como USS Hopper en su honor.</h2>
    <p>Desde entonces, y hasta su retiro, Grace Hopper trabajó en distintas empresas y desarrolló varias computadoras. Pero su contribución más importante al mundo de la informática fue su empeño en acercar la programación a personas que no fueran matemáticas. Para ello, Grace propuso desarrollar un lenguaje de programación basado en la lengua inglesa. De esta manera, todo aquel que quisiera programar, no necesitaba conocer complicados lenguajes codificados; con saber inglés, cualquiera con un poco de inquietudes podía llegar a programar. Tras años de intentar convencer a las mentes cerradas del mundo de la informática que aquello que ella planteaba tenía sentido, nacía el revolucionario COBOL, un lenguaje de programación que actualmente se usa en muchos ámbitos para procesar datos.
        Mientras Grace investigaba en el mundo de la informática, su carrera militar no quedó a un lado. Continuó vinculada al ejército, en el que también investigó, y llegó a ser ascendida a Contraalmirante, rango que no había conseguido ninguna mujer hasta el momento.

Además de investigar, Grace fue una destacada divulgadora científica, escribió manuales de informática y dio un sinfín de conferencias por todos los Estados Unidos a las que acudían las nuevas generaciones de informáticos e informáticas que escuchaban con devoción a aquella mujer excepcional que llegó a acumular hasta cuarenta doctorados y un gran número de premios y reconocimientos.

El 1 de enero de 1992, Grace Murray Hopper fallecía mientras dormía en su casa de Arlington a los ochenta y seis años de edad. Seis días después, era enterrada en el cementerio militar de Arlington con los honores que merecía.
    </p>
    <a href="/">Volver</a>
</body>
</html>