<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <a href="https://www.buscabiografias.com/biografia/verDetalle/8221/Augusta%20Ada%20Byron%20-%20Ada%20Lovelace"><img src="img/lovelace.jpg" width="250px"></a>
    <h1>Ada Lovelace</h1>
    <h2>La “madre” de la programación</h2>
    <h3>El 10 de diciembre se conmemora el nacimiento de Augusta Ada King, pionera en el mundo de la programación y uno de los nombres científicos más importantes del siglo XIX. La hija del poeta Lord Byron escribió el el primer algoritmo informático de la Historia.</h3>
    <p>Su madre, Anna Isabella Milbanke, quien abandonó a Byron al poco de casarse, educó a su hija de una manera peculiar para una mujer en aquella época, sobre todo centrándose de manera estricta en las matemáticas que le llevó a ser la creadora del primer algoritmo informático.

        Cuando descubrió la máquina analítica de Charles Babbage, Ada tuvo claro que quería trabajar a su lado y durante sus estudios fue su becaria, pero abandonó sus estudios al casarse y tener hijos; sin embargo, al poco tiempo regresó para proseguir su camino de investigación, desarrollando su actividad durante una época, la victoriana, en la que era casi impensable que una mujer pudiese ejercer como profesional a la par que ser madre.</p>
    <h2>Creó el primer algoritmo informático</h2>
    <p>Con Babbage mantuvo una larga amistad y una relación profesional alrededor de la computadora digital. En 1845 Ada tradujo al inglés un documento que fue publicado por una revista francesa alrededor del trabajo de Babbage, añadiendo unas notas explicativas que ampliaron, casi al doble, la extensión a través de las cuales Ada introdujo ideas sobre programación muy avanzadas para la época.

        Entre ellas, un sistema de tarjetas perforadas que serán esenciales para programar los primeros ordenadores a mediados del siglo XX. Estas aportaciones de Ada supusieron la creación de el primer algoritmo destinado a ser procesado por una máquina.
        Mientras numerosos científicos de la época, incluido el propio Babbage, se centraban en estudiar la capacidad de las computadoras para resolver cálculos complejos, Lovelace siempre trató de ofrecer una visión que iba mucho más allá de esto. Precisamente, está inquietud fue la que le llevó a desarrollar y definir conceptos visionarios que, a día de hoy, están considerados los primeros pasos en el campo de la programación informática y la computación.

        Tomando como referencia los números de Bernoulli, Ada Lovelace desarrolló lo que hoy conocemos como algoritmo informático. Una de los grandes avances que desarrolló, fue la introducción de este algoritmo en la máquina de Babbage, que le permitió definir lo que hoy en informática se conoce como “bucle”: ejecutar una serie de acciones de forma repetida.
        
        A su vez, Ada Lovelace diseñó la idea de una máquina que fuera capaz de programarse y reprogramarse para ejecutar funciones que le llevarán a la realización de una serie de tareas que fueran mas allá de llevar a cabo simples cálculos y que quedarán expresadas mediante símbolos.</p>
    <h2>Las STEM no entienden de géneros</h2>
    <p>A lo largo de la historia, a nivel intelectual son muchos los reconocidos nombre que han aportado inventos o descubrimientos que han supuesto un desarrollo para la sociedad. Si damos un repaso por algunas de estos nombres, la mayoría son hombres.

        Las mujeres siempre han sufrido una enorme desigualdad y silenciamiento forzoso de sus logros y avances en los diferentes ámbitos científicos y tecnológicos. La propia Ada Lovelace tuvo que firmar durante toda su vida con las iniciales A.A.L. por miedo a ser censurados por tratarse de una mujer.
        Por ello, desde 2009, se celebra el Día de Ada Lovelace, el segundo martes de octubre. Este día tiene como objetivo reconocer las contribuciones de las mujeres en los campos de la ciencia, la tecnología, la ingeniería y las matemáticas.

        Desde Fundación Aquae ponemos nuestro grano de arena para romper con las barreras de género en las materias STEM a través de nuestro proyecto Aquae STEM.Esta iniciativa se lleva a cabo en más de 50 colegios de toda España en los que se realizan una serie de actividades para promover y potenciar el interés de las niñas de primera hacia las vocaciones científicas y tecnológicas.
        
        Una de las principales causas de que las niñas no elijan estos estudios es que no encuentran referentes femeninos con los que identificarse. Por ello, una de nuestras últimas novedades es la puesta en marcha de una serie de webinars para acabar con este problema y visibilizar entre nuestras jóvenes referentes femeninos que les sirvan de inspiración y en donde puedan verse reflejadas.</p>
        <a href="/">Volver</a>
    </body>
</html>