body{
    background-color: rgb(240, 224, 250);
}
H1{
    font-size:4.5rem;
    font-family: 'Comic Sans MS', cursive;
    display: contents;
    color: black;
}
li{
    font-size: 35px;
    display: grid;
    background-color: rgb(240, 224, 250);
}